{{ range $filedKey, $filed := . }}

{{ if eq $filedKey "components" and $filed }}
{{ range $componentKey, $component := $filed }}
{{ if eq $componentKey "schemas" and $component }}
{{ range $schemaKey, $schema := $component }}
type {{ $schemaKey | toFiledFromString }} {{isRequiredFiledFromSchema $schema $schemaKey}}*{{end}}{{ index $schema "$ref" | getStructNameFromRef }}
{{ else }}
handle components schemas object
{{ end }}
{{ end }}
{{ end }}

{{ if eq $filedKey "responses" }}
handle components responses
{{ end }}

{{ if eq $filedKey "parameters" }}
handle components parameters
{{ end }}

{{ if eq $filedKey "examples" }}
handle components examples
{{ end }}

{{ if eq $filedKey "requestBodies" }}
handle components requestBodies
{{ end }}

{{ if eq $filedKey "headers" }}
handle components headers
{{ end }}

{{ if eq $filedKey "securitySchemes" }}
handle components securitySchemes
{{ end }}

{{ if eq $filedKey "links" }}
handle components links
{{ end }}

{{ if eq $filedKey "callbacks" }}
handle components callbacks
{{ end }}

{{ if eq $filedKey "pathItems" }}
handle components pathItems
{{ end }}

{{ end }}

{{ if eq $filedKey "tags" }}
handle tags
{{ end }}

{{ if eq $filedKey "webhooks" }}
handle webhooks
{{ end }}

{{ if eq $filedKey "servers" }}
handle servers
{{ end }}

{{ if eq $filedKey "paths" }}
handle paths
{{ end }}

{{ end }}
